.navbar {
  background: #000;
}

.navbar-brand {
  color: #fff;
  font-family: "Rufina", serif;
}

.navbar-brand span {
  color: #f04f4f;
}

.nav-item .nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

button {
  border: none;
  background: #f04f4f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    background: #fff;
  }
  .navbar-brand {
    color: #000;
    font-family: "Rufina", serif;
  }
  .navbar-brand span {
    color: #f04f4f;
  }
  .nav-item .nav-link {
    color: #000;
  }
}

.navbar-toggler-icon i {
  color: #000 !important;
}

.activeX {
  color: #f04f4f !important;
}

header {
  background-image: url(../img/BACK2.jpg);
  background-size: cover;
  background-position: center center;
}

.title-head {
  color: #fff;
  height: 100%;
  width: 100%;
}

.title p {
  width: 50%;
  color: #333;
  font-family: "Rufina", serif;
  font-size: 700;
}

.title .line {
  width: 10%;
  background: linear-gradient(90deg, rgba(240, 79, 79, 0.94), rgba(240, 133, 81, 0.65));
  height: 2px;
}

@media (max-width: 800px) {
  .title p {
    width: 75%;
  }
}

#BOOK ul {
  list-style: none;
  padding: 0;
}

#BOOK ul li {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
}

#BOOK .chose {
  width: 50%;
  margin: auto;
}

.active-chose {
  border-bottom: 2px solid #f04f4f;
  padding-bottom: 5px;
  color: #f04f4f !important;
}

.star i {
  color: #f04f4f;
  padding: 2px;
}

.item-img {
  position: relative;
  overflow: hidden;
}

.new {
  position: absolute;
  top: 5%;
  right: 0;
  background: #eb512a;
  padding: 5px;
  color: #fff;
}

.trans {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 1s all;
}

.trans i {
  color: linear-gradient(90deg, rgba(240, 79, 79, 0.94), rgba(240, 133, 81, 0.65));
  font-size: 20px;
  transform: scale(1.4);
  cursor: pointer;
}

.price {
  font-size: 20px;
  font-weight: 800;
  font-family: "Rufina", serif;
}

.price sup {
  color: #f04f4f;
}

.item-img:hover .trans {
  top: 0%;
}

.owl-prev {
  position: absolute;
  top: 40%;
  z-index: 999;
  left: 0;
  background: linear-gradient(90deg, rgba(240, 79, 79, 0.94), rgba(240, 133, 81, 0.65)) !important;
  border-radius: 50%;
  outline: none !important;
  display: none;
}

.owl-prev i {
  color: #fff;
  padding: 20px;
}

.owl-next {
  position: absolute;
  z-index: 999;
  top: 40%;
  right: 0px;
  outline: none !important;
  display: none;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(240, 79, 79, 0.94), rgba(240, 133, 81, 0.65)) !important;
}

.owl-next i {
  color: #fff;
  padding: 20px;
}

.owl-carousel:hover .owl-next,
.owl-carousel:hover .owl-prev {
  display: block;
}

#BESTBOOKS p {
  color: #333;
}

#BESTBOOKS .img-one {
  overflow: hidden;
}

#BESTBOOKS .img-one img {
  transition: 2s all;
}

#BESTBOOKS .img-one img:hover {
  transform: scale(1.4);
}

.discount {
  background: linear-gradient(90deg, rgba(240, 79, 79, 0.94), rgba(240, 133, 81, 0.65));
  position: absolute;
  padding: 5px;
  top: 5%;
  left: 0%;
  color: #fff;
}

.old-price {
  text-decoration: line-through;
}

.col-8,
.col-4 {
  padding: 0 !important;
  margin: 0 !important;
}

.times {
  background-color: #f1f1f1;
}

#HOME,
#BOOK,
#BESTBOOKS,
#CHILDRENBOOKS,
#CONTACT,
#PAGES,
#SALES {
  overflow-x: hidden;
}

#box-show {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9998888;
  display: none;
  justify-content: center;
  align-items: center;
  animation-name: transScale;
  animation-duration: 1s;
}

#box-show i {
  position: absolute;
  color: #fff !important;
  cursor: pointer;
  font-size: 30px;
}

#box-show #close {
  right: 5%;
  top: 5%;
}

#box-show #prev {
  left: 30%;
  top: 50%;
}

#box-show #next {
  right: 35%;
  top: 50%;
}

#box-show .box {
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 80%;
}

@keyframes transScale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.img-show {
  cursor: pointer;
}

@media (max-width: 800px) {
  #box-show .box {
    height: 80%;
    width: 50%;
    position: absolute;
    top: 30%;
  }
  #box-show #prev {
    left: 5%;
    top: 50%;
  }
  #box-show #next {
    right: 5%;
    top: 50%;
  }
}

footer {
  background-color: #000;
  color: #fff;
}

footer a {
  color: #fff !important;
  text-decoration: none !important;
}

footer span {
  color: #f04f4f;
}

footer .col-md-3:first-child {
  font-size: 25px;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li {
  line-height: 30px;
}

body {
  overflow: hidden;
}

#loading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 9999999999999999999999999999999999;
  bottom: 0;
  right: 0;
  left: 0;
}

.spinner {
  width: 40px;
  height: 40px;
  background: #eb512a;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

iframe {
  border: none;
}

input,
textarea {
  color: #000;
  resize: none;
  outline: none;
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid #f04f4f;
}

small {
  display: none;
  color: #f04f4f;
}

input::placeholder,
textarea::placeholder {
  color: #000;
}
